:root {
  --balloon-color: #222;
  --balloon-font-size: 14px;
  --balloon-move: 4px;
}

button[aria-label][data-balloon-pos] {
  overflow: visible;
}

[aria-label][data-balloon-pos] {
  position: relative;
}

[aria-label][data-balloon-pos]:after {
  opacity: 0;
  pointer-events: none;
  transition: all .15s ease-out .18s;
  transition-delay: 0.1s;
  text-indent: 0;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: var(--balloon-font-size);
  background: var(--balloon-color);
  border-radius: 10px;
  color: #fff;
  content: attr(aria-label);
  padding: .5em 1em;
  position: absolute;
  z-index: 10;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

[aria-label][data-balloon-pos]:before {
  border: 5px solid transparent;
  border-top-color: var(--balloon-color);
  opacity: 0;
  pointer-events: none;
  transition: all .15s ease-out .18s;
  transition-delay: 0.1s;
  content: "";
  position: absolute;
  z-index: 10;
}

[aria-label][data-balloon-pos][data-balloon-visible]:before, [aria-label][data-balloon-pos][data-balloon-visible]:after {
  opacity: 1;
  pointer-events: none;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"]:before {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top;
}

[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after {
  transform: translate(-50%, 0);
}

[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before {
  transform: translate(-50%, 0);
}