html, body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	background: #eee;
	width: 100vw;
	height: 100%;
	overflow: hidden;
}

body.has-overlay::before {
	content: "";
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
}

.noDisplay {
	display: none;
}

#board #player .piece {
	position: absolute;
	transform: translate(0px, 0px);
	opacity: 0.9;
	margin: 0;
	padding: 0;
	background-size: 100% 100%;
	background-position: center;
}

.loadingImg {
	display: none;
}

#help, #close{
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	width: 40px;
	padding: 0;
	text-align: center;
}

#sound{
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	width: 40px;
	padding: 0;
	text-align: center;
} 

#soundImg{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 80%;
	width: 80%;
	transform: translate(-50%, -50%);
	background: url('../img/soundOff.png');
	background-size: 100% 100%;
}

#sound #soundImg.on{
	background: url('../img/soundOn.png');
	background-size: 100% 100%;
}

#sound:hover #soundImg{
	filter: invert(100%);
}

#help-info {
	position: absolute;
	width: 380px;
	padding: 20px;
	background: #eee;
	border-radius: 5px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.5s ease;
}

canvas {
	border-radius: 5px;
	box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.30);
}

#help-info.show {
	z-index: 2;
	opacity: 1;
}

.help-icons {
	width: 16px;
	height: 16px;
	transform: translate(0, 2px);
}

#help-info ol {
	padding-left: 8%;
}

#help-info li {
	padding: 5px 0;
}

#help-info p {
	font-size: 22px;
	text-align: center;
	margin: 0;
}

main {
	position: relative;
	width: 100vw;
}

#player {
	position: relative;
}

#game {
	position: absolute;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#turn {
	font-size: 20px;
	margin: .5em;
	padding: 0.75em;
	text-align: center;
	font-weight: 300;
}

#turn.end{
	font-size: 30px;
	padding: 0 0.75em;
}

.dot-pulse span {
	animation-name: pulse;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes pulse {
	0% {
		opacity: .2;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: .2;
	}
}

.dot-pulse span:nth-child(2) {
	animation-delay: .2s;
}

.dot-pulse span:nth-child(3) {
	animation-delay: .4s;
}

.buttons {
	position: absolute;
	left: 0;
	top: 0;
}

#info {
	margin: .5em;
	padding: 0.75em;
	display: flex;
	flex-direction: column;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: inherit;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #222;
	margin: .5em;
	padding: 0.75em;
	color: #fff;
	text-align: center;
	border-radius: .1875em;
	font-size: 20px;
	outline: none;
	border: none;
	font-weight: 300;
	z-index: 1;
}

.button.noDisplay {
	display: none;
}

.button:hover {
	background-color: #eee;
	color: #222;
}

#board {
	display: flex;
	flex-direction: row;
}

#board div {
	margin: 0 20px;
}

#patrol {
	background: url("../img/ships/png/patrol.png");
}

#carrier {
	background: url("../img/ships/png/carrier.png");
}

#battleship {
	background: url("../img/ships/png/battleship.png");
}

#submarine {
	background: url("../img/ships/png/submarine.png");
}

#destroyer {
	background: url("../img/ships/png/destroyer.png");
}

@media only screen and (max-width: 600px) {
	canvas {
		box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.30);
	}
	#board {
		flex-direction: column-reverse;
	}
	#board div {
		margin: 1px 0;
	}
	#info {
		padding: 0;
	}
}

@media only screen and (max-width: 450px) {
	#help-info {
		font-size: 18px;
		width: 300px;
		padding: 10px;
	}
	#help, #close, #sound {
		height: 30px;
		width: 30px;
	}
	#help-info p {
		font-size: 20px;
	}
	#turn, .button {
		font-size: 18px;
	}
}

@media only screen and (max-width: 350px) {
	#help-info {
		font-size: 14px;
		width: 250px;
		padding: 10px;
	}
	#help, #close, #sound {
		height: 20px;
		width: 20px;
	}
	#help-info p {
		font-size: 14px;
	}
	#turn, .button {
		font-size: 12px;
	}
}