:root {
    --font-size: 24px;
    --button-background: #222;
    --button-color: #eee;
    --border-radius: .1875em;
}

@font-face {
    font-family: Logo;
    src: url(../fonts/octin\ stencil\ rg.ttf);
}

html,
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #eee;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

#center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: var(--font-size);
    font-weight: 300;
    margin: 0;
    padding: calc(var(--font-size)/2);
    border: none;
    outline: none;
}

.small {
    font-size: calc(var(--font-size)*0.75);
}

.noDisplay {
    display: none;
}

/*===============================================*/

/*==============Buttons===========================*/
button {
    position: relative;
    background: var(--button-background);
    color: var(--button-color);
    border: none;
    outline: none;
    margin: 0;
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease;
}

button:hover {
    background: var(--button-color);
    color: var(--button-background);
}

button:hover .loader div{
    background: var(--button-background);
}

.button-top-left {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(25%, 25%);
}

.square-button {
    padding: 0;
    margin: 0;
    width: calc(var(--font-size)*2);
    height: calc(var(--font-size)*2);
    text-align: center;
    line-height: 100%;
}

.triangle {
    width: 0;
    height: 0;
    background: none;
    border-top: var(--font-size) solid #222;
    border-left: var(--font-size) solid #222;
    border-bottom: var(--font-size) solid transparent;
    border-right: var(--font-size) solid transparent;
    border-radius: var(--border-radius);
    transform: scale(0.5);
    transition: transform 0.1s ease;
}

.triangle:hover {
    background: none;
    transform: scale(0.5) translate(-7.5%, -7.5%);
}

button.fill {
    width: 100%;
}

button.point {
    cursor: pointer;
}

.create {
    transform: translate(-50%, -50%);
}

.create::after,
.create::before {
    content: " ";
    position: absolute;
    background: var(--button-background);
    display: block;
    border-radius: .1875em;
    transform: translate(-50%, -50%);
}

button:hover.create::after,
button:hover.create::before {
    background: var(--button-color);
}

.create.flood::after, .create.flood:before{
    display: none;
}

.create.flood {
    background: var(--button-background);
}

button:hover.create.flood {
    background: var(--button-color);
}

.create::after {
    height: 40%;
    width: 4%;
    top: 50%;
    left: 50%;
}

.create::before {
    height: 4%;
    width: 40%;
    top: 50%;
    left: 50%;
}


.plus {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: var(--button-color);
    border: calc(var(--font-size)*0.075) solid var(--button-background);
}

.plus:hover {
    background: var(--button-background);
}

#mode-button-wrapper{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 0;
}

.mode-button {
    text-align: left;
    width: 85%;
}

.mode-button:nth-child(even) {
    margin: 8.5% 0 2% 0;
}

.mode-button:nth-child(odd) {
    margin: 2% 0 8.5% 0;
}

#sessions-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10%;
}

.sessions-button {
    transform: scale(1.25);
    margin: 2% 3% 0 3%;
}

.sessions-button .create {
    width: 100%;
    height: 100%;
    position: relative;
}

/*=======================================================*/

/*===================Logo===============================*/
#splash {
    font-family: Logo;
    font-size: calc(var(--font-size)*2.5);
}

#title {
    display: flex;
    flex-direction: column;
}

#title .title-word {
    padding: 0;
    margin: -5% 0;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #003b55, #00a5f1);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #003b55, #00a5f1);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*========================================================*/

/*=================== card ======================================*/
.card {
    position: relative;
    text-align: center;
    width: 340px;
    background: #eee;
    border-radius: var(--border-radius);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    font-weight: 300;
}

#link-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#link {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: calc(var(--font-size)*0.9);
    background: transparent;
    padding: 0;
    height: 100%;
    width: 100%;
    padding: 2% 0;
    margin: 2.5%;
    margin-left: 0;
    border: 1px solid var(--button-background);
    outline: none;
    font-weight: 300;
    border-radius: var(--border-radius);
}

#copy {
    background: none;
}

/*========================================================*/

/*=============== Loading ======================*/

.loader {
    position: absolute;
    width: var(--font-size);
    height: var(--font-size);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.loader-right .loader{
    right: 0;
}

.loader-center .loader{
    left: 50%;
}

.loader div {
    animation: lds-spinner 1.2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 10%;
    border-radius: 20px;
    background: var(--button-color);
}

.loader div:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translate(calc(var(--font-size)/2));
    animation-delay: -1.1s;
}

.loader div:nth-child(2) {
    transform: translate(-50%, -50%) rotate(30deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -1s;
}

.loader div:nth-child(3) {
    transform: translate(-50%, -50%) rotate(60deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.9s;
}

.loader div:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.8s;
}

.loader div:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.7s;
}

.loader div:nth-child(6) {
    transform: translate(-50%, -50%) rotate(150deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.6s;
}

.loader div:nth-child(7) {
    transform: translate(-50%, -50%) rotate(180deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.5s;
}

.loader div:nth-child(8) {
    transform: translate(-50%, -50%) rotate(210deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.4s;
}

.loader div:nth-child(9) {
    transform: translate(-50%, -50%) rotate(240deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.3s;
}

.loader div:nth-child(10) {
    transform: translate(-50%, -50%) rotate(270deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.2s;
}

.loader div:nth-child(11) {
    transform: translate(-50%, -50%) rotate(300deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: -0.1s;
}

.loader div:nth-child(12) {
    transform: translate(-50%, -50%) rotate(330deg) translate(calc(var(--font-size)/2));
    ;
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*===========================================*/

/*================== Copy ================*/

.copy {
    position: absolute;
    width: 50%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}


.copy::before, .copy::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: calc(var(--font-size)*0.05) solid #222;
    border-radius: 20%;
    background: #eee;
}

.copy::before{
    transform: rotate(45deg) translate(-20%) rotate(-45deg);
    transition: transform 0.5s ease;
}

.copy::after{
    transform: rotate(45deg) translate(20%) rotate(-45deg);
    transition: transform 0.5s ease;
    transition-delay: 0.15s;
}

#copy:hover .copy::before{
    transform: rotate(45deg) translate(-20%) rotate(-45deg) translateY(-25%);
}

#copy:hover .copy::after{
    transform: rotate(45deg) translate(20%) rotate(-45deg) translateY(-25%);
}

/* =================================== media ================== */

@media only screen and (max-width: 370px) {
    :root {
        --font-size: min(6vw, 6vh);
    }

    .card {
        width: 90vw;
    }
}
