@font-face {
    font-family: NunitoSans;
    src: url(../fonts/nunito-sans.extralight.ttf);
}

@font-face {
    font-family: NunitoSansBold;
    src: url(../fonts/nunito-sans.light.ttf);
}

html, body{
  margin: 0;
  padding: 0;
  font-family: NunitoSans;
  background: #eee;
  width: 100vw;

    background: linear-gradient(270deg, #adcbf5, #a793f7);

    -webkit-animation: backgroundAnimate 120s ease infinite;
    -moz-animation: backgroundAnimate 120s ease infinite;
    animation: backgroundAnimate 120s ease infinite;
}

@-webkit-keyframes backgroundAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes backgroundAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes backgroundAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-webkit-keyframes backgroundAnimate {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

@-moz-keyframes backgroundAnimate {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

@keyframes backgroundAnimate {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}

main{
  position: relative;
  width: 100vw;
}

#copyImg{
    transform: translate(5px, 5px);
    cursor: pointer;
}

#copyBtn{
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

#center{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

.noDisplay{
  display: none;
}

#shareBox{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  background: #eee;
  border-radius: 3px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  font-size: 25px;
}



#link{
    font-family: NunitoSans;
  font-size: 20px;
  background: #eee;
  border:  none;
  outline: none;
}

#center .button{
  font-size: 30px;
}

.button{
  box-sizing: inherit;
  background-color: #222;
  margin: .1rem;
  padding: .75rem;
  color: #fff;
  text-align: center;
  border-radius: .1875rem;
  font-size: 18px;
  outline: none;
  border: none;
  font-family: NunitoSansBold;
}

.button:hover{
  background-color: #eee;
  color: #222;
}

@media only screen and (max-width: 600px) {

  button{
    font-size: 18px;
  }

}