<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Battleship</title>
    <meta name='author' content="Manas Sarpatwar">
    <meta name="description" content="Battleship in browser">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="/fonts/nunito-sans.extralight.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/nunito-sans.light.ttf" as="font" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/balloon.css" />

    <script language="javascript" type="text/javascript" src="js/clipboard.js"></script>
</head>

<body>
    <div id="center">
        <div id="title">
            Battleship
            <button onclick="init()" class="button" id="multiplayer">Multiplayer</button>
        </div>
        <div id="share" class="noDisplay">
            <div id=shareBox>
                <div id="shareContent" class="noDisplay">
                    <label style='margin: 15px 0 5px 0'>Share game link:<button id="copyBtn" onclick="copy(this)"
                            aria-label="copied!" data-balloon-pos="up"><img id="copyImg" src="../img/copy.png" width="32"
                                height="32"></button></label>
                    <input contenteditable="true" readonly='true' style='margin: 15px 0 30px 0' id="link">
                    <button onclick="play()" class="button" id="play">Play</button>
                </div>
                <div id="max-sessions" class="noDisplay">
                    <p>Select from created game sessions</p>
                    <div id='max-sessions-btns' style='margin: 0 0 40px 0'>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    document.getElementById('center').style.height = window.innerHeight + 'px';
    let title = document.getElementById('title');
    let shareDiv = document.getElementById('share');
    let link = document.getElementById('link');
    let game;

    function share(g = game) {
        title.classList.add('noDisplay')
        shareDiv.classList.remove('noDisplay')
        document.getElementById('shareContent').classList.remove('noDisplay');
        document.getElementById('max-sessions').classList.add('noDisplay');
        game = g;
        link.setAttribute('value', 'https://battleship-game-online.herokuapp.com/play/' + game);
    }

    function init() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/init', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                var json = JSON.parse(xhr.responseText);
                if (!json.error) {
                    share(json.game);
                } else {
                    title.classList.add('noDisplay')
                    shareDiv.classList.remove('noDisplay');
                    let games = json.game;
                    let btns = [];
                    let i = 1;
                    console.log(games);
                    for (let g of games) {
                        btns.push("<button onclick=\"share('" + g + "')\" class='button' style = 'width: 35px; height: 35px;' >" + i + "</button>");
                        i++;
                    }
                    document.getElementById('max-sessions').classList.remove('noDisplay');
                    document.getElementById('max-sessions-btns').innerHTML = btns.join('');

                }
            }
        }
        xhr.send();
    }


    function play(g = game) {
        window.location.href = 'https://battleship-game-online.herokuapp.com/play/' + g;
    }

    function copy() {
        Clipboard.copy(link.getAttribute('value'));
        copyBtn.setAttribute('data-balloon-visible', '');
        setTimeout(() => copyBtn.removeAttribute('data-balloon-visible'), 2000);
    };
</script>

</html>