<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Battleship</title>
        <meta name = 'author' content = "Manas Sarpatwar">
        <meta name="description" content="Battleship in browser">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./main.css">
        <script language="javascript" type="text/javascript" src="./sketch.js"></script>
        
    </head>
    <body>
        <h1>Testing heroku app</h1>
    </body>
</html>