<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Battleship</title>
    <meta name='author' content="Manas Sarpatwar">
    <meta name="description" content="Battleship in browser">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../css/main_multiplayer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/balloon.css" />
    <script language="javascript" type="text/javascript" src="../../js/sketch.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Battleship.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Piece.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Player.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/helpers.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/WaterWave.js"></script>

</head>

<body>
    <main>
        <div id="game">
            <div id="info">
                <button id="help" onclick="tutorial()" class="button noDisplay">Tutorial</button>
                <button id="readyBtn" onclick="playerReady()" class="button noDisplay">Ready</button>
                <p id="turn" class='noDisplay'></p>
                <button id="playAgainBtn" onclick="playAgain()" class="button noDisplay">Play again?</button>
            </div>
            <div id="board">
                <div id="player">
                    <div id="patrol" draggable="false" class="interactable piece loadingImg">
                        <div id='patrol-tutorial' style = 'transition: none !important' class='tutorial' aria-label='' data-balloon-pos='right'></div>
                    </div>
                    <div id="submarine" draggable="false" class="interactable piece loadingImg">
                        <div id='submarine-tutorial' class='tutorial' aria-label='3 attacks will sink submarine'
                            data-balloon-pos='right'></div>
                    </div>
                    <div id="destroyer" draggable="false" class="interactable piece loadingImg">
                        <div id='destroyer-tutorial' class='tutorial' aria-label='3 attacks will sink destroyer'
                            data-balloon-pos='right'></div>
                    </div>
                    <div id="battleship" draggable="false" class="interactable piece loadingImg">
                        <div id='battleship-tutorial' class='tutorial' aria-label='4 attacks will sink battleship'
                            data-balloon-pos='left'></div>
                    </div>
                    <div id="carrier" draggable="false" class="interactable piece loadingImg">
                        <div id='carrier-tutorial' class='tutorial' aria-label='5 attacks will sink carrier'
                            data-balloon-pos='left'></div>
                    </div>
                    <canvas id="playerCanvas"></canvas>
                    <div id='playerCanvasTutorial' class='tutorial' aria-label='This is your territory'
                        data-balloon-pos="up"></div>
                </div>
                <div id="opponent">
                    <canvas id="opponentCanvas"></canvas>
                    <div id='opponentCanvasTutorial' class='tutorial' aria-label="This is your enemy's territory"
                        data-balloon-pos="up"></div>
                </div>
            </div>

        </div>
    </main>
</body>
<script>
    var gameID = "<%= game %>";
    var playerID = "<%= playerID %>";

    function is_touch_device() {
        return 'ontouchstart' in window;
    }
    var tutorialInProgress = false;
    function tutorial() {
        if (tutorialInProgress)
            return;

        tutorialInProgress = true;
        let patrolTutorial = select('#patrol-tutorial');
        let submarineTutorial = select('#submarine-tutorial');
        let destroyerTutorial = select('#destroyer-tutorial');
        let battleshipTutorial = select('#battleship-tutorial');
        let carrierTutorial = select('#carrier-tutorial');
        let playerCanvasTutorial = select('#playerCanvasTutorial');
        let opponentCanvasTutorial = select('#opponentCanvasTutorial');
        let startTime = 500;
        let buffer = 7500;
        setTimeout(() => {
            if (!battleship.ready) {
                playerCanvasTutorial.setAttribute('data-balloon-visible', '');
            }
        }, startTime);
        startTime = buffer;
        setTimeout(() => {
            if (!battleship.ready) {
                playerCanvasTutorial.setAttribute('aria-label', 'Place your ships here');
            }
        }, startTime);
        startTime += buffer;

        setTimeout(() => {
            if (!battleship.ready) {
                playerCanvasTutorial.removeAttribute('data-balloon-visible');
                patrolTutorial.setAttribute('data-balloon-visible', '');
                patrolTutorial.setAttribute('aria-label', 'Drag to place piece');
            }
        }, startTime);

        startTime += buffer;
        setTimeout(() => {
            if (!battleship.ready) {
                patrolTutorial.setAttribute('aria-label', (is_touch_device() ? 'Tap' : 'Click') + ' on piece to rotate');
            }
        }, startTime);
        startTime += buffer;

        setTimeout(() => {
            if (!battleship.ready) {
                patrolTutorial.removeAttribute('data-balloon-visible');
                opponentCanvasTutorial.setAttribute('data-balloon-visible', '');
            }
        }, startTime);
        startTime += buffer;
        setTimeout(() => {
            if (!battleship.ready) {
                opponentCanvasTutorial.setAttribute('aria-label', (is_touch_device() ? 'Tap' : 'Click') + ' anywhere here to launch attack on enemy ships');
            }
        }, startTime);

        startTime += buffer*2;
        setTimeout(() => {
            if (!battleship.ready) {
                opponentCanvasTutorial.removeAttribute('data-balloon-visible');
                patrolTutorial.setAttribute('data-balloon-visible', '');
                patrolTutorial.setAttribute('aria-label', '2 attacks will sink patrol boat');
            }
        }, startTime);

        startTime += buffer;
        setTimeout(() => {
            if (!battleship.ready) {
                patrolTutorial.removeAttribute('data-balloon-visible');
                submarineTutorial.setAttribute('data-balloon-visible', '');
            }
        }, startTime);

        startTime += buffer;
        setTimeout(() => {
            if (!battleship.ready) {
                submarineTutorial.removeAttribute('data-balloon-visible');
                destroyerTutorial.setAttribute('data-balloon-visible', '');
            }
        }, startTime);
        startTime += buffer;
        setTimeout(() => {
            if (!battleship.ready) {
                submarineTutorial.removeAttribute('data-balloon-visible');
                destroyerTutorial.setAttribute('data-balloon-visible', '');
            }
        }, startTime);
        startTime += buffer;

        setTimeout(() => {
            if (!battleship.ready) {
                destroyerTutorial.removeAttribute('data-balloon-visible');
                carrierTutorial.setAttribute('data-balloon-visible', '');
            }
        }, startTime);
        startTime += buffer;
        setTimeout(() => {
            if (!battleship.ready) {
                carrierTutorial.removeAttribute('data-balloon-visible');
                battleshipTutorial.setAttribute('data-balloon-visible', '');
            }
        }, startTime);
        startTime += buffer;
        setTimeout(() => {
            if (!battleship.ready) {
                battleshipTutorial.removeAttribute('data-balloon-visible');
                tutorialInProgress = false;
            }
        }, startTime);
    }
</script>

</html>