<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Battleship</title>
    <meta name='author' content="Manas Sarpatwar">
    <meta name="description" content="Battleship in browser">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="/fonts/nunito-sans.extralight.ttf" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/nunito-sans.light.ttf" as="font" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../../css/main_multiplayer.css" />
    <script language="javascript" type="text/javascript" src="../../js/sketch.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Battleship.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Piece.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Player.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/helpers.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/WaterWave.js"></script>

</head>

<body>
    <main>
        <div id="game">
            <div id="info">
                <button id="readyBtn" onclick="playerReady()" class="button noDisplay">Ready</button>
                <p id="turn"></p>
                <button id="playAgainBtn" onclick="playAgain()" class="button noDisplay">Play again?</button>
            </div>
            <div id="board">
                <div id="player">
                    <div id="patrol" draggable="false" class="interactable piece loadingImg"></div>
                    <div id="submarine" draggable="false" class="interactable piece loadingImg"></div>
                    <div id="battleship" draggable="false" class="interactable piece loadingImg"></div>
                    <div id="carrier" draggable="false" class="interactable piece loadingImg"></div>
                    <div id="destroyer" draggable="false" class="interactable piece loadingImg"></div>
                    <canvas id="playerCanvas"></canvas>
                </div>
                <div id="opponent">
                    <canvas id="opponentCanvas"></canvas>
                </div>
            </div>

        </div>
    </main>
</body>
<script>
    var gameID = "<%= game %>";
    var playerID = "<%= playerID %>";
</script>

</html>