<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Battleship</title>
    <meta name='author' content="Manas Sarpatwar">
    <meta name="description" content="Battleship in browser">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../css/main.css" />
    <script language="javascript" type="text/javascript" src="../../js/p5.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/p5.dom.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/sketch.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Battleship.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Piece.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/Player.js"></script>
    <script language="javascript" type="text/javascript" src="../../js/helpers.js"></script>

</head>

<body>
    <main>
        <p id="turn"></p>
        <button onclick="playerReady()" class="button" id="multiplayer">Start</button>
        <div id="game">

            <div id="board">
                <div id="player">
                    <img src="../../img/ships/png/patrol.png" draggable="false" id="patrol" class="draggable rotatable piece">
                    <img id="submarine" draggable="false" class="draggable rotatable piece" src="../../img/ships/png/submarine.png">
                    <img id="battleship" draggable="false" class="draggable rotatable piece" src="../../img/ships/png/battleship.png">
                    <img id="carrier" draggable="false" class="draggable rotatable piece" src="../../img/ships/png/carrier.png">
                    <img id="destroyer" draggable="false" class="draggable rotatable piece" src="../../img/ships/png/destroyer.png">
                </div>
                <div id="opponent"></div>
            </div>

        </div>
    </main>
</body>
<script>
    var gameID = "<%= game %>";
    var playerID = "<%= playerID %>";

    function playerReady(){
        window.alert('todo -> write function to start game');
    }

</script>

</html>